body{
    background-color: white;
    color: black;
}
#my{
    margin-top: 100px;
    line-height: 2;
    height: 200px;
    width: 200px;
    font-size: 16px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
#s1{
    margin-top: 500px;
}
marquee{
    color: blue;
    font-weight: bold;
    font-size: 16px;
}
#hint{
    color: red;
    font-weight: bold;
    font-size: 16px;
}
.allsub{
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}
.sub{
    color: red;
    font-weight: bold;
    font-size: 25px;
}
button{
    width: 50px;
}

